/* You're welcome to change any of this! */
html {
    margin:auto;
    font-family: Arial, sans-serif;
    background-color:#FFFFFF;
    color:rgb(255, 255, 255);
}
p, li {
    line-height: 1.5em;
}

div{
    text-align:center;
    font-size: 24pt;
    justify-content: center;
    color:#EFD28D

}
h1{
    padding:20px;
    background:linear-gradient(90deg,#A30000,#ff7700) ;
    height:10vh;

}

.tiles{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    height:55vh;
}
.tutorials{
    grid-column-start: 1;
    grid-column-end: 3;

    padding: 10px;
    background-color:#004777;
}

.homework{
    grid-column-start: 3;
    grid-column-end: 5;

    padding:10px;
    background-color:#00afb5;
}

.lectures{
    background-color:#1a8386;
    grid-column-start: 1;
    grid-column-end: 5;
  

}

#inspiration {
    background-color: #004777;
    height:10vh;
    padding-top:20px
}
a{
    color:white;
}