/* You're welcome to change any of this! */
html {
    margin:auto;
    font-family: Arial, sans-serif;
    background-color:#FFFFFF;
    color:rgb(255, 255, 255);
}
p, li {
    line-height: 1.5em;
}

div{
    text-align:center;
    font-size: 24pt;
    justify-content: center;
    color:#EFD28D

}
h1{
    padding:20px;
    background:linear-gradient(90deg,#A30000,#ff7700) ;
    height:10vh;

}

.tiles{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    height:55vh;
    width:auto;
}
.tutorials{
    grid-column-start: 0;
    grid-column-end: 2;

    padding: 10px;
    background-color:#004777;
    padding-bottom: 50px;
    border-radius:50%;
}

.homework{
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius:50%;

    padding:10px;
    background-color:#00afb5;
    padding-bottom: 50px;
}

.lectures{
    background-color:#1a8386;
    grid-column-start: 1;
    grid-column-end:3;
    padding-bottom: 50px;

  

}
.homework:hover{
    filter:saturate(130%);
    scale: 130%;
}

.lectures:hover{
    filter:saturate(130%);
    scale: 130%;
}

.tutorials:hover{ 
    filter:saturate(130%);
    scale:130%;

}
#inspiration {
    background-color: #004777;
    height:auto;
}
a, a:visited, a:hover, a:link{
    color:rgb(163, 189, 175);
    text-decoration:none;
}