nav{ 
    display: flex; 
    justify-content: space-between;
    height: 15vh;
    background-color: lightslategray;
}
nav h1{ 
    padding:20px;
}

nav ul{ 
    margin-right: 10px;
    padding:10px;
}
body{
    margin: 0;
    padding:none;
}

.background{
    background-image:url('images/Untitled_Artwork.jpg');
    height:90vh;
    background-size: cover; 
    background-repeat: no-repeat;
    
}