body{ 
    background-color:#4B3d60;
    margin:0; 
    padding: none; 
}
main{ 
    margin:0; 
    padding: none; 
}

/* Navbar Formattnig */
 nav{ 
    margin:0px;
    height: 15vh; 


    background-color:transparent;
    color:#ffffff; 

    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}
nav h1{ 
    padding-left:10px; 
}

nav ul { 
    padding-right: 10px;
}

/* Image Tiles */

.tiles{

    margin-bottom:15px;
    background-color:#152852;

    max-width:100vw;

    display:flex;
    justify-content: center; 
    align-items: center; 
    flex-direction:column;
    
}

#tile1{ 
    margin-top:10px; 
    max-width:100vw;
    background-color:#5f2e96;
    display:flex; 
    justify-content:space-between; 
    align-items:center;
    flex-direction: row;
}

#tile1 img{ 
    background-color:white;
    padding:5px;
    height:300px;
    width:600px;
}

#tile img:hover{ 
    mask:#152852;
}

#tile2{ 
    margin-top:10px; 

    max-width:100vw;
    background-color:#5f2e96;
    display:flex; 
    justify-content:space-between; 
    align-items:center;
    flex-direction: row-reverse;
}

#tile2 img{ 
    background-color:white;
    padding:5px;
    height:300px;
    width:600px;
}

/* Footer */

footer{
    height: 7vh;
    background-color:rgb(77, 77, 77);
    
}


/* temporary Section */
.colors{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

.card{
    display:flex;
    flex-direction:column-reverse;
    align-items:center;
    width:20vw;
    height:67vh;
    opacity:.8;
    transition:all .75s;
}

.card:hover{ 
    scale:110%;
    opacity:1;
}
#card1{
    background-color:#08183a;
}
#card2{
    background-color:#152852; 
}
#card3{
    background-color:#4b3d60;
}
#card4{
    background-color:#fd5e53;
}
#card5{
    background-color:#fc9c54;
}
#card6{
    background-color:#FFe373;
}

.card > p{
    margin:5px;
}
/* temporary section */

